body
{
    background-color: #f1f1f1;
}

.frm_login_email
{
    margin-bottom: 10px;
}

.frm_login_pass
{
    margin-bottom: 10px;
}

.form_login
{
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #1D89CF;
}
.btn-warning
{
    background-color:  #ffa700;
}
.form_new
{
    padding-top: 50x;
    background-color: #ffffff;
    border: 1px solid #1D89CF;
}
